a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
body {
  font-family: 'Jomolhari', sans-serif;
  background: #141a19;
  margin-left: auto;
}
section {
  margin: 0 auto;
}

/* mobile menu */
@media screen and (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e1823;
    z-index: 99999999;
    transform: translateX(100%);
    transition: transform 250ms linear;
  }
  .mobile-menu.is-open {
    transform: translateX(0);
  }
  .mob-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;
    justify-content: center;
    padding: 136px 48px 518px 48px;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile-menu-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .mob-menu-nav-list-item {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.28px;
  }
  .mob-menu-nav-close-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .mob-menu-nav-close-btn-icon {
    fill: #fff;
  }
  .mobile-menu-btn-icon {
    border: none;
    padding: 0;
  }
  .mobile-menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .menu-nav {
    display: none;
  }
  .social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 225px;
    margin-bottom: 32px;
    gap: 15px;
  }

  /* HERO */
  .hero-section {
    display: flex;
    flex-direction: column;
    min-height: 812px;
    background-image: url(/src/img/forest.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-title-small {
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    letter-spacing: 0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 234px;
    height: 68px;
    margin-top: 261px;
    margin-left: 71px;
    color: #fafafa;
  }
  .hero-title {
    font-size: 64px;
    font-weight: 400;
    line-height: 89.6px;
    letter-spacing: 0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 234px;
    height: 90px;
    margin-left: 71px;
    color: #fafafa;
  }
  .main-button {
    width: 174px;
    height: 48px;
    margin-top: 64px;
    margin-left: 101px;
    border-radius: 4px;
    border: none;
    background-color: #394014;
    color: #fafafa;
  }

  /* ABOUT US */

  .about-section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #141a19;
    padding-left: 16px;
    padding-right: 16px;
    background-image: url(/src/img/border.png);
  }
  .section-title {
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 32px;
    color: #fafafa;
  }
  .about-text {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #fafafa;
    margin-bottom: 32px;
  }

  /* GALLERY */
  .gallery-section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #141a19;
  }
  .gallery-container {
    position: relative;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .img {
    width: 344px;
    height: 614px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .img:hover {
    transform: scale(1.1);
  }
  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    margin-top: 32px;
  }
  .arrow-left {
    left: 10px;
    transform: none;
  }
  .arrow-right {
    right: 10px;
    transform: scaleX(-1);
  }
  .arrow-icon-left,
  .arrow-icon-right {
    fill: #5a5959;
    transition: fill 0.3s ease;
  }
  .arrow-left.active .arrow-icon-left {
    fill: #fafafa;
  }
  .arrow-right.active .arrow-icon-right {
    fill: #fafafa;
  }

  /* TOURS */
  .tours-section {
    background-image: url('/src/img/koloso.png');
    background-position: 10px  bottom;
    background-repeat: no-repeat;
  }
  .tours-img {
    width: 375px;
    height: 409px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .gallery-item {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 454px;
    box-sizing: border-box;
  }
  .tours-img:hover {
    transform: scale(1.1);
  }
  .tours-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 16px;
    color: #fafafa;
  }
  .tours-svg {
    margin-right: 16px;
  }
  .text {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #fafafa;
    margin-bottom: 16px;
    width: 343px;
  }
  .text-item {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #fafafa;
    margin-left: 16px;
    align-items: center;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
  }
  .text,
  .text-item,
  .tours-title {
    max-width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    white-space: normal;
    margin-left: 16px;
  }
  .book-btn {
    width: 343px;
    height: 54px;
    padding: 16px 52px 16px 52px;
    gap: 8px;
    border-radius: 4px;
    border: none;
    background-color: #394014;
    color: #fafafa;
    margin-left: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 32px;
  }

  /* REVIEWS */
  .reviews-section {
    margin-bottom: 180px;
  }
  .reviews-title {
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    color: #fafafa;
  }
  .reviews-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .reviews-item {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #fafafa;
    margin-bottom: 16px;
    border: 1px solid #fafafa;
    padding: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .reviews-name {
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 11px;
  }
  .reviews-svg {
    fill: goldenrod;
    width: 136px;
    height: 24px;
  }
  .reviews-name,
  .reviews-item {
    max-width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    white-space: normal;
  }
  .rew-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    gap: 24px;
  }
  .name-wrap {
    display: flex;
    flex-direction: column;
  }
  .reviews-text {
    height: 176px;
  }
}

@media screen and(min-width:480px) {
  .container {
    width: 367px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
