a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
body {
  font-family: "Jomolhari", sans-serif;
  background: #fafafa;
  margin-left: auto;
}
section {
  margin: 0 auto;
}
/* .container {
  padding-left: 16px;
  padding-right: 16px;
} */

.hero-section {
  display: flex;
  /* padding: 395px 20px 21px 16px; */
  width: 335px;
  min-height: 600px;
  /* border-radius: 30px; */
  background: rgba(17, 17, 17, 0.6);
  /* background-image: url(/src/img/forest.png); */
  /* background-image: url(/img/forest.png); */
  background-image: url('/img/forest.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}